html{
  overflow-y: scroll;
  overflow-x: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding-top: 81px;
	background-color: #006600;
}

ul, li, span {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;	
}

.bold {
	font-weight: bold;
}

.red {
	color: #8B3330;
}

.border {
	border: 1px solid red;
}

.container, 
.container-fluid {
	padding-right: 70px; 
	padding-left: 70px;
}

.header {
	display: flex;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	align-items: center;
}

.logo-wrapper {
	background-image: url("imgs/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 148px;
	height: 41px;
	margin-right: auto;
}

.burger-menu {
	background-image: url("imgs/burger-menu.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 42px;
	height: 24px;
	margin-right: 10px;
}

.menu-wrapper a {	
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'OpenSansCondensedLight', sans-serif;
	margin-left: auto;
	font-size: 28px;
	color: #fff;
	margin-right: 20px;
}

.menu-wrapper a:hover {
	color: #FFFF33;
}

.menu-wrapper a:last-child {
	margin-right: 0;
}

.phones-wrapper {
	margin-left: auto;	
}

.header .glyphicon-earphone {
	font-size: 18px;
}

.header .phone-digits {
	font-size: 28px;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'OpenSansCondensedLight', sans-serif;
	/*font-weight: 700;*/
} 

#carousel-main-screen h1 {
	position: absolute;
	width: 100%;
	background-color: #fff;
	opacity: .8;
	z-index: 1000;
	top: 0px;
	margin-top: 0;
	font-size: 36px;
	/*font-family: 'OpenSansCondensedLight', sans-serif;*/
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	/*font-family: 'OpenSansCondensedBold', sans-serif;*/
	/*font-weight: bold;*/
	letter-spacing: 2px;
	padding-bottom: 7px;
}

.about-house {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
}

.attention {
	border: 1px solid #8B3330;
	border-radius: 3px;
	padding: 10px;
	background-color: #F8F8F8;
}

.advantages {
	background-color: #003333;
	color: #fff;
	padding-bottom: 20px;
} 

.advantages h2 {
	font-size: 36px;
	font-weight: 700;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'OpenSansCondensedLight', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 20px;
	margin-top: 40px; 
} 

.advantages ul {
	list-style-image: url("imgs/bullit-21x30.png");
	padding-left: 30px;
	font-size: 22px;
} 

.advantages li {
	margin-top: 40px;
} 

.menu-wrapper a.change-color {
	color: #B8BABD;
}

.gallery {
	background-color: #f8f8f8;
	padding-bottom: 10px;
}

.gallery h2 {
	font-size: 36px;
	font-weight: 700;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'OpenSansCondensedLight', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 25px;
}

.gallery-mob {
	padding-right: 0;
	padding-left: 0;
	width: 100%;
	background-color: #f8f8f8;
}

.footer {
	background-color: #fff;
	position: relative;
}

.callback-contacts-wrap {
	position: absolute;
	z-index: 10;
	margin-left: 70px;
	top: 50%;
}

.footer button {
	padding: 10px 15px;
	font-size: 20px;
	border-radius: 3px;
	background-color: rgb(51, 153, 51);
	color: rgb(255, 255, 255);
	border: medium none;
} 

.footer button:hover {
	background-color: #8B3330;
} 

.footer .contacts-wrapper {
	background-color: #fff;
	font-size: 18px;
	/*font-family: 'Open Sans';*/
	font-family: 'OpenSansCondensedLight', sans-serif;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #8B3B3F;
	border-radius: 3px;
	margin-top: 20px;
} 

.thank-you {
	/*font-family: 'Open Sans';*/
	font-family: 'OpenSansCondensedLight', sans-serif;
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.contacts-page {
	margin-bottom: 30px;
	padding-left: 70px;
	padding-right: 70px;
}

.contacts-page h1 {
	font-size: 36px;
	font-weight: 700;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'OpenSansCondensedLight', sans-serif;
	letter-spacing: 2px;
}

.item-menu {
	background-color: #006600;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'OpenSansCondensedLight', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 20px;
	border-radius: 3px;
	padding: 10px 0;
}

#modal-menu .modal-body {
	margin-top: 0px;
}

#modal-menu a {
	display: block;
}

#modal-menu a:hover {
	color: #fff;
	text-decoration: none;
}

#modal-menu a:active {
	background-color: #8B3330;
	text-decoration: none;
}

.flats h1,
.plans h1 {
	font-size: 36px;
	font-weight: 700;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'OpenSansCondensedLight', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-top: 30px; 

}

.flats a {
	/*position: relative;*/
	display: block;
}

/*.txt-floor {
	position: absolute;
	display: none;
}
*/
.img-cut-wrap {
	margin-bottom: 30px;
}

.img-cut-wrap .floor:hover {
	background-color: #99FF99;
}

.roof {
	margin-left: -9px;
}

.flat-plan-cut {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
/*	background-position: top top;*/
/*	background-image: url("imgs/flat-plan-cut-orange.jpg");*/
}

#flat-orange {
	background-image: url("imgs/flat-plan-cut-orange.jpg");
	width: 298px;
	height: 321px;
}

#flat-blue {
	background-image: url("imgs/flat-plan-cut-blue.jpg");
	width: 234px;
	height: 321px;
}

#hall {
	background-image: url("imgs/flat-plan-cut-hall.jpg");
	width: 160px;
	height: 321px;
}

#flat-turq {
	background-image: url("imgs/flat-plan-cut-turq.jpg");
	width: 298px;
	height: 321px;
}


#flat-green {
	background-image: url("imgs/flat-plan-cut-green.jpg");
	width: 298px;
	height: 322px;
}

#flat-violet {
	background-image: url("imgs/flat-plan-cut-violet.jpg");
	width: 223px;
	height: 322px;
}

#flat-yellow {
	background-image: url("imgs/flat-plan-cut-yellow.jpg");
	width: 345px;
	height: 322px;
}

#flat-turq2 {
	background-image: url("imgs/flat-plan-cut-turq2.jpg");
	width: 124px;
	height: 322px;
}

#second-row-wrap {
	margin-top: -6px;
	margin-bottom: 30px;	
}

/*Начало. Переопределенные стили Bootstrap.*/
.navbar-default {
	background-color: #006600;
	border: none;
}

#carousel-main-screen .carousel-inner > .item > img {
	height: 87vh;
	width: 100%;
}

#carousel-main-screen {
	position: relative;
	height: 87vh;
}

#carousel-gallery-mob .carousel-inner > .item {
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#carousel-gallery-mob .carousel-inner > #gal-pict-01 {
	background-image: url("imgs/gallery-mob-01.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-02 {
	background-image: url("imgs/gallery-mob-02.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-03 {
	background-image: url("imgs/gallery-mob-03.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-04 {
	background-image: url("imgs/gallery-mob-04.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-05 {
	background-image: url("imgs/gallery-mob-05.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-06 {
	background-image: url("imgs/gallery-mob-06.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-07 {
	background-image: url("imgs/gallery-mob-07.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-08 {
	background-image: url("imgs/gallery-mob-08.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-09 {
	background-image: url("imgs/gallery-mob-09.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-10 {
	background-image: url("imgs/gallery-mob-10.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-11 {
	background-image: url("imgs/gallery-mob-11.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-12 {
	background-image: url("imgs/gallery-mob-12.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-13 {
	background-image: url("imgs/gallery-mob-13.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-14 {
	background-image: url("imgs/gallery-mob-14.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-15 {
	background-image: url("imgs/gallery-mob-15.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-16 {
	background-image: url("imgs/gallery-mob-16.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-17 {
	background-image: url("imgs/gallery-mob-17.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-18 {
	background-image: url("imgs/gallery-mob-18.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-19 {
	background-image: url("imgs/gallery-mob-19.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-20 {
	background-image: url("imgs/gallery-mob-20.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-21 {
	background-image: url("imgs/gallery-mob-21.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-22 {
	background-image: url("imgs/gallery-mob-22.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-23 {
	background-image: url("imgs/gallery-mob-23.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-24 {
	background-image: url("imgs/gallery-mob-24.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-25 {
	background-image: url("imgs/gallery-mob-25.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-26 {
	background-image: url("imgs/gallery-mob-26.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-27 {
	background-image: url("imgs/gallery-mob-27.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-28 {
	background-image: url("imgs/gallery-mob-28.jpg");
}
#carousel-gallery-mob .carousel-inner > #gal-pict-29 {
	background-image: url("imgs/gallery-mob-29.jpg");
}
/*Конец. Переопределенные стили Bootstrap.*/

/*Модальное окно Bootstrap*/
.modal-title {
	color: #000000;
	padding-right: 15px;
}
.modal-backdrop.in {
	opacity: .8;
}
.modal-dialog {
	width: 320px;
}
.modal-content {
	background-color: #F1F1F1;
}
.modal-body {
	padding-top: 0;
	margin-top: -20px;
}
.modal-body input[type="text"] {
	width: 100%;
	height: 35px;
	font-size: 18px;
}
.modal-body form > div:nth-child(2) {
	margin-top: 20px;
}
.modal-body > form > div > div {
	color: #028090;
	font-weight: bold;
	font-size: 18px;
}
.modal-body input[type="submit"] {
	background-color: #E7382B;
	color: #ffffff;
	width: 100%;
	height: 60px;
	border: medium none;
	border-radius: 2px;
	font-size: 24px;
	margin-bottom: 5px;
	margin-top: 24px;
	letter-spacing: 1px;
}
.modal-body input[type="submit"]:hover {
	background-color: #339933;
}
.modal-body button:hover {
	background-color: #B03A32;
}
.modal-header {
	border-bottom: none;
	padding-right: 15px;
	padding-top: 15px;
}
/*Модальное окно Bootstrap*/


/*LightGallery*/
#lightgallery img {
	margin-bottom: 5px;
}
/*LightGallery*/

@media screen and (min-device-width: 320px) {
	body {
		padding-top: 51px;
	}
	.container, 
	.container-fluid {
		padding-right: 15px; 
		padding-left: 15px;
	}
	.gallery-mob {
		padding-left: 0px; 
		padding-right: 0px;
	}
	.gallery-mob h2 {
		font-size: 24px;
		font-weight: 700;
		/*font-family: 'Open Sans Condensed', sans-serif;*/
		font-family: 'OpenSansCondensedLight', sans-serif;
		letter-spacing: 2px;
		margin-bottom: 20px;
	}
	.header {
		margin-top: 12px;
	}
	.header .glyphicon-earphone {
		font-size: 13px;
		margin-right: -5px;
	}
	.header .phone-digits {
		font-size: 18px;
	}
	.logo-wrapper {
		width: 90px;
		height: 25px;
		display: block;
	}
	#carousel-main-screen h1 {
		font-weight: 700;
		font-family: 'OpenSansCondensedLight', sans-serif;
		font-size: 18px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
	}
	#carousel-main-screen .carousel-inner > .item > img {
		height: 45vh;
	}

	#carousel-main-screen {
		height: 45vh;
	}
	.advantages h2 {
	    font-size: 24px;
	    margin-top: 20px;
	}
	.advantages li {
		margin-top: 20px;
		font-size: 18px;
	} 
	#modal-free-consult .modal-dialog,
	#modal-menu .modal-dialog {
		width: 310px;
		margin-left: auto;
		margin-right: auto;
	}
	.callback-contacts-wrap {
		margin-left: 50px;
	}
	.contacts-page {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (min-device-width: 768px) {
	#carousel-gallery-mob .carousel-inner > .item {
		height: 512px;
	}
	#carousel-main-screen h1 {
		font-size: 36px;
		font-family: 'OpenSansCondensedLight', sans-serif;
		/*font-family: 'Open Sans Condensed', sans-serif;*/
		padding-top: 7px;
		font-weight: 700;
	}
}

@media screen and (min-device-width: 992px) {	
	.navbar {
		min-height: 40px;
	}
	#carousel-main-screen .carousel-inner > .item > img {
		height: 600px;
	}
	#carousel-main-screen {
		height: 600px;
		margin-top: 10px;
	}
	body {
		padding-top: 51px;
		/*margin-bottom: 20px;*/
	}
	.container, 
	.container-fluid {
		padding-right: 70px; 
		padding-left: 70px;
	}
	.header .glyphicon-earphone {
		font-size: 20px;
	}

	.header .phone-digits {
		font-size: 28px;
	}
	.menu-wrapper a {
		font-size: 20px;
		margin-right: 10px;
	}
	.logo-wrapper {
		width: 148px;
		height: 41px;
	}
	.advantages h2 {
	    font-size: 36px;
	    margin-top: 40px; 
	}
	.advantages li {
		margin-top: 40px;
		font-size: 22px;
	} 
	.callback-contacts-wrap {
		margin-left: 70px;
	}
	.contacts-page {
		padding-left: 70px;
		padding-right: 70px;
	}
}

@media screen and (min-device-width: 1366px) {
	body {
		padding-top: 61px;
	}
	.navbar {
		min-height: 50px;
	}
	#carousel-main-screen .carousel-inner > .item > img {
		height: 87vh;
	}
	#carousel-main-screen {
		height: 87vh;
		margin-top: 0;
	}
	#carousel-main-screen h1 {
		font-family: 'OpenSansCondensedLight', sans-serif;
		font-weight: 700;
		/*font-family: 'Open Sans Condensed', sans-serif;*/
		padding-top: 0px;
	}
	.header {
		margin-top: 10px;
	}
	.header .glyphicon-earphone {
		font-size: 20px;
	}
	.header .phone-digits {
		font-size: 28px;
	}
	.menu-wrapper a {
		font-size: 28px;
		margin-right: 20px;
	}
}

@media screen and (min-device-width: 1600px) {
	.header .glyphicon-earphone {
		font-size: 18px;
	}

	.header .phone-digits {
		font-size: 28px;
	}
	.menu-wrapper a {
		font-size: 28px;
		margin-right: 20px;
	}
}

@media screen and (min-device-width: 1920px) {

}




















































	