body {
	font-family: Open Sans, sans-serif;
	padding-top: 89px;
	background-color: #333333;
}

ul, li, span {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;	
}

.bold {
	font-weight: bold;
}

.container, 
.container-fluid {
	padding-right: 70px; 
	padding-left: 70px;
}

.header {
	display: flex;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	align-items: center;
}

.logo-wrapper {
	background-image: url("imgs/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 220px;
	height: 61px;
	margin-right: auto;
}

.burger-menu {
	background-image: url("imgs/burger-menu.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 42px;
	height: 24px;
	margin-right: 10px;
}

.menu-wrapper a {
	font-family: Open Sans Condensed;
	margin-left: auto;
	font-size: 28px;
	color: #fff;
	margin-right: 20px;
}

.menu-wrapper a:hover {
	color: #FFFF33;
}

.menu-wrapper a:last-child {
	margin-right: 0;
}

.phones-wrapper {
	margin-left: auto;	
}

.header .glyphicon-earphone {
	font-size: 18px;
}

.header .phone-digits {
	font-size: 24px;
	font-family: 'Open Sans Condensed', sans-serif;
} 

#carousel-example-generic h1 {
	position: absolute;
	width: 100%;
	background-color: #fff;
	opacity: .8;
	z-index: 100;
	margin-top: 0px;
	font-size: 36px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	padding-bottom: 8px;
}

/*Начало. Переопределенные стили Bootstrap.*/
.navbar-default {
	background-color: #333333;
	border: none;
}

.carousel-inner > .item > img {
	height: 87vh;
	width: 100%;
}

#carousel-example-generic {
	position: relative;
	height: 87vh;
}


/*.modal-title {
	color: #000000;
	padding-right: 15px;
}
.modal-backdrop.in {
	opacity: .8;
}
.modal-dialog {
	width: 320px;
}
.modal-content {
	background-color: #F1F1F1;
}
.modal-body input[type="text"] {
	width: 287px;
	height: 35px;
	font-size: 18px;
}
#modal-free-consult-mob .modal-body input[type="text"] {
	width: 100%;
	height: 35px;
}
#modal-free-consult-mob .modal-body input[type="submit"] {
	width: 100%;
}
#modal-free-consult-mob .modal-content {
	width: 100%;
}
#modal-free-consult-mob .modal-dialog {
	width: 300px;
}

.modal-body form > div {
	margin-top: 20px;
}
.modal-body > form > div > div {
	color: #028090;
	font-weight: bold;
	font-size: 18px;
}
.modal-body input[type="submit"] {
	background-color: #E7382B;
	color: #ffffff;
	width: 100%;
	height: 60px;
	border: medium none;
	border-radius: 2px;
	font-size: 28px;
	margin-bottom: 5px;
	margin-top: 20px;
	letter-spacing: 1px;
}
.modal-body input[type="submit"]:hover {
	background-color: #339933;
}
.modal-body button:hover {
	background-color: #B03A32;
}
.modal-body > form div:first-child {
	margin-top: 5px;
}*/
/*Конец. Переопределенные стили Bootstrap.*/

@media screen and (min-device-width: 320px) {
	.container, 
	.container-fluid {
		padding-right: 15px; 
		padding-left: 15px;
	}
	.header .glyphicon-earphone {
		font-size: 13px;
	}
	.header .phone-digits {
		font-size: 18px;
	}
	.logo-wrapper {
		width: 112px;
		height: 31px;
	}
}

@media screen and (min-device-width: 768px) {

}

@media screen and (min-device-width: 992px) {
	.container, 
	.container-fluid {
		padding-right: 70px; 
		padding-left: 70px;
	}
	.header .glyphicon-earphone {
		font-size: 18px;
	}

	.header .phone-digits {
		font-size: 20px;
	}
	.menu-wrapper a {
		font-size: 20px;
		margin-right: 10px;
	}
	.logo-wrapper {
		width: 220px;
		height: 61px;
	}
}

@media screen and (min-device-width: 1366px) {
	.header .glyphicon-earphone {
		font-size: 18px;
	}
	.header .phone-digits {
		font-size: 24px;
	}
	.menu-wrapper a {
		font-size: 28px;
		margin-right: 20px;
	}
}

@media screen and (min-device-width: 1600px) {
	.header .glyphicon-earphone {
		font-size: 18px;
	}

	.header .phone-digits {
		font-size: 24px;
	}
	.menu-wrapper a {
		font-size: 28px;
		margin-right: 20px;
	}
}

@media screen and (min-device-width: 1920px) {
/*	.container, 
	.container-fluid {
		padding-right: 70px; 
		padding-left: 70px;
	}
*/
}




















































	